.header {
  &__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    min-height: 50px;
  }

  &__nav {
    @include list-reset;

    display: flex;
  }
}
