.header {
  &__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
    min-height: 50px;
  }

  &__main-nav {
    font-size: 12px;
    font-size: 600;
    color: var(--black-color);

    & a {
      color: inherit;
    }
  }

  &__left {
    display: flex;
  }
}
