:root {
  --black-color: #1e1e1e;
  --dark-blue-color: #2c3f60;
  --error-color: var(--red-color);
  --gray-10-color: #f3f5f6;
  --gray-50-color: #bdc1c2;
  --gray-70-color: #505565;
  --light-blue-color: #1d2e4f;
  --max-site-width: 1600px;
  --min-site-width: 375px;
  --red-40-color: #f56c69;
  --red-color: #bd0300;
  --white-color: #ffffff;
}

@font-face {
  font-weight: 400;
  font-family: "Mont";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/mont-regular.woff2") format("woff2");
}
@font-face {
  font-weight: 600;
  font-family: "Mont";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/mont-semibold.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Soyuz Grotesk";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/soyuz-groteskbold.woff2") format("woff2");
}
.swiper-slide {
  height: var(--swiper-height, 100%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--min-site-width);

  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;

  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type=radio].visually-hidden,
input[type=checkbox].visually-hidden,
input[type=file].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

#site-top {
  position: absolute;
  top: 0;

  visibility: hidden;
}

.indent-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset {
  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.shaked {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.is-lock-scroll {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .is-lock-scroll {
    overflow: visible;
  }
}

.is-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 5px;

  background-color: #f4f6fb;
  border-radius: 300px;
}
.is-background--size {
  width: 120px;
  height: 120px;
}

.container {
  box-sizing: border-box;
  width: min(var(--max-width), 100% - var(--padding-side) * 2);
  margin: 0 auto;

  --max-width: 1160px;
  --padding-side: 20px;
}

.txt-sm {
  font-weight: 400;
  font-size: 12px;
}
.txt-sm--gradient {
  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .d-sm-none {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Mont", Arial, Helvetica, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration-color: var(--link-line, transparent);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}
@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.site__container {
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh, 1vh));
}
.site__header {
  flex-shrink: 0;
}
.site__content {
  flex-grow: 1;
  margin-top: var(--offset-top, 0);
}
.site__footer {
  flex-shrink: 0;
}

.page {
  padding: 54px 0 16px;
}
@media (min-width: 992px) {
  .page {
    padding: 24px 0 32px;
  }
}
.page .title {
  text-transform: lowercase;
}
@media (min-width: 992px) {
  .page .title {
    margin-right: 30px;
  }
}
.page__top {
  display: grid;

  row-gap: 24px;
}
@media (min-width: 992px) {
  .page__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.page__descr {
  max-width: 424px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}
@media (min-width: 992px) {
  .page__descr {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .page__descr {
    margin-right: 80px;
  }
}
.page .btn {
  flex-shrink: 0;
  max-width: 340px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  color: inherit;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}
.btn--primary {
  padding: 24px 56px;

  font-weight: 600;
  font-size: 14px;
  color: var(--white-color);

  background-color: var(--dark-blue-color);
  border-radius: 300px;
}
.btn--secondary {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;

  color: var(--white-color);

  background-color: var(--dark-blue-color);
  border-radius: 100%;
}

.btn-icon svg {
  margin-right: 12px;
}
.btn-icon--reverse svg {
  margin-right: 0;
  margin-left: 12px;
}

.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 58px;
  line-height: 1;
  font-family: "Soyuz Grotesk", Arial, Helvetica, sans-serif;
  color: var(--white-color);
}
@media (min-width: 992px) {
  .title {
    font-size: 70px;
  }
}
.title--blue {
  background: linear-gradient(90deg, #1b2c4d 0%, #7184aa 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.title--sm-blue {
  font-size: 49px;

  background: linear-gradient(90deg, #1b2c4d 0%, #7184aa 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}

.form-label {
  display: flex;
  flex-direction: column-reverse;
}
.form-label > span {
  margin-bottom: 4px;

  font-size: 14px;
}

.form-input {
  width: 100%;
  padding: 14px 24px;

  font-size: 12px;
  color: var(--black-color);

  background-color: #f4f6fb;
  border: none;
  border-radius: 300px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
          transition: background-color 0s 600000s, color 0s 600000s !important;
}
.form-input.is-invalid {
  border-color: var(--error-color, #bd0300);
}
.form-input--area {
  height: var(--input-area-height, 6em);

  resize: none;
}

.scroll-top {
  position: fixed;
  right: max(15px, (100% - var(--max-site-width, 1440px) - 100px) / 2);
  bottom: 60px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  opacity: 0;

  transition: opacity 0.25s ease-in-out;

  pointer-events: none;
}
.scroll-top--show {
  opacity: 1;

  pointer-events: auto;
}
.scroll-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #ffffff;

  background-color: #505565;
  border-radius: 50%;
}
.scroll-top__link svg {
  width: 50%;
  height: 50%;
}
@media (min-width: 1200px) {
  .scroll-top__link {
    transition: opacity 0.25s ease-in-out;
  }
  .scroll-top__link:hover {
    opacity: 0.7;
  }
}

.slider {
  position: relative;

  overflow: hidden;

  opacity: 1;

  transition: opacity 0.3s ease-in-out;
}
.slider:not(.swiper-initialized) {
  opacity: 0;
}
.slider__wrapper {
  box-sizing: border-box;
}

.slider-control {
  position: absolute;
  top: 47%;
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  background-color: var(--white-color);
  border-radius: 100%;
  box-shadow: -4px 19px 31px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: auto;
}
.slider-control.swiper-button-lock {
  display: none;
}
@media (min-width: 992px) {
  .slider-control {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .slider-control {
    transition: background-color 0.2s ease-in-out;
  }
}

.swiper-pagination {
  bottom: 24px !important;

  --swiper-pagination-bullet-height: 1px;
  --swiper-pagination-bullet-inactive-color: var(--white-color);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-width: 12%;
  --swiper-pagination-color: var(--white-color);
}

.button-prev {
  left: 0;
}

.button-next {
  right: 0;
}

.logo a {
  display: inline-flex;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__icon-phone {
  margin-right: 14px;
}
.contacts__phone {
  font-weight: 600;
  font-size: 20px;
  color: #1e1e1e;
}
.contacts__time-work {
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  color: rgba(30, 30, 30, 0.5);
}

.social {
  display: grid;

  row-gap: 16px;
}
@media (min-width: 992px) {
  .social {
    display: flex;
    align-items: center;
    margin-right: 70px;
  }
}
.social span {
  font-size: 12px;
  color: var(--black-color);
}
@media (min-width: 992px) {
  .social span {
    max-width: 106px;
    margin-right: 17px;
  }
}
.social__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  justify-self: flex-start;
}

.select {
  position: relative;

  display: inline-flex;
  align-items: center;
  padding: 15px 20px;

  font-weight: 600;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #1e3551;
  text-transform: uppercase;

  background-color: #f5f8fc;
  border-radius: 50px;
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select--filter {
  padding: 15px 30px;

  color: rgba(30, 30, 30, 0.5);
  text-transform: lowercase;
}
@media (min-width: 992px) {
  .select--filter {
    min-width: auto;
  }
}

.select__current {
  margin-right: 8px;
}

.select__arrow {
  margin-left: auto;

  font-size: 12px;
}

.select__dropdown {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
  opacity: 0;
}

.modal {
  position: relative;

  width: 100%;
  width: 100%;
  min-width: 360px;
  max-width: 618px;
  margin: 0 auto;
  padding: 40px 25px 30px;

  color: #000000;

  background-color: #ffffff;
}
@media (min-width: 992px) {
  .modal {
    padding: 80px 100px 60px;
  }
}
.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  color: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}
@media (max-width: calc(var(--min-site-width) - 1px)) {
  .modal {
    min-width: auto;
  }
}
.modal__title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 49px;
  line-height: 1;
  text-align: center;

  background: linear-gradient(90deg, #1b2c4d 0%, #7184aa 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.modal__text {
  max-width: 324px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--black-color);
}
.modal form {
  display: grid;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 32px;

  row-gap: 16px;
}
@media (min-width: 992px) {
  .modal form {
    max-width: 418px;
  }
}
.modal .form-input {
  position: relative;

  width: 100%;
  min-height: 76px;
}
.modal .btn {
  max-width: 336px;
  margin: 0 auto;
}
.modal__info {
  max-width: 386px;
  margin: 0 auto;

  text-align: center;
}
.modal__info a {
  color: #58a1f8;
}

.just-burger {
  position: relative;
  z-index: 3;

  display: grid;
  width: 43px;
  height: 16px;
  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
  cursor: pointer;

  --burger-animation-time: 0.4s;
  --burger-weight: 3px;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
}
.just-burger > span {
  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--dark-blue-color);

  transition: all 0.3s ease-in-out;

  justify-self: end;
}
.just-burger > span:nth-child(2) {
  width: 50%;
}
.just-burger > span:nth-child(3) {
  width: 60%;
}
.just-burger:hover > span:nth-child(2) {
  width: 70%;
}
.just-burger.is-expanded span:nth-child(1) {
  width: 50%;

  -webkit-transform: rotate(-45deg) translate(9%, 500%);
          transform: rotate(-45deg) translate(9%, 500%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.just-burger.is-expanded span:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.just-burger.is-expanded span:nth-child(3) {
  width: 50%;

  -webkit-transform: rotate(45deg) translate(8%, -500%);
          transform: rotate(45deg) translate(8%, -500%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.header-modal {
  pointer-events: none;
}
.header-modal[aria-hidden=false] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);

  pointer-events: auto;
}
.header-modal[aria-hidden=false] .header-modal__content {
  display: block;

  -webkit-animation-name: fade-left;
          animation-name: fade-left;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header-modal__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  padding-bottom: 50px;
  overflow: auto;

  color: var(--black);

  background-color: var(--white-color);
}
.header-modal__title {
  display: inline-block;
  margin-bottom: 100px;
  padding-top: 10px;

  font-weight: 400;
  font-size: 30px;

  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.header-modal__nav {
  margin-bottom: 100px;
}
.header-modal__nav ul {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 8px;
}
.header-modal__nav a {
  font-weight: 400;
  font-size: 30px;

  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0.8;

  -webkit-text-fill-color: transparent;
}
.header-modal__nav a:hover {
  opacity: 1;
}
.header-modal .contacts {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .header-modal {
    display: none;
  }
}

.header--fixed {
  position: fixed;
  z-index: 3;

  width: 100%;

  background-color: var(--white-color);
}
.header--border-bottom {
  border-bottom: 1px solid #f2f2f2;
}
.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 20px 0;
}
.header__right {
  display: flex;
  align-items: center;
}
.header .select {
  margin-right: 20px;
}

.language-switcher {
  display: inline-block;
}
.language-switcher__title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 20px;

  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.language-switcher__cont {
  display: grid;
  margin-right: 50px;

          column-gap: 14px;

  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}
.language-switcher__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 0;
  padding: 0 5px;

  font-weight: 600;
  font-size: 12px;
  color: inherit;
  color: var(--black-color);

  background-color: transparent;
  background-color: #f4f6fb;
  border: none;
  border-radius: 300px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}
.language-switcher__btn.active {
  font-size: 12px;
  color: var(--white-color);

  background-color: var(--dark-blue-color);
}

.main-nav {
  font-size: 12px;
  font-size: 600;
  color: rgba(30, 30, 30, 0.5);
}
.main-nav a {
  color: inherit;

  transition: color 0.3s ease-in-out;
}
.main-nav a:hover {
  color: var(--black-color);
}

.footer .title {
  display: none;
  margin-bottom: 48px;
}
@media (min-width: 992px) {
  .footer .title {
    display: block;
  }
}
.footer__map {
  border-radius: 10px;
}
.footer .header__cont {
  flex-wrap: wrap;

  gap: 24px;
}
@media (min-width: 992px) {
  .footer .header__cont {
    flex-wrap: nowrap;
  }
}

.footer-middle {
  display: grid;
  padding: 24px 0;

  row-gap: 20px;
}
@media (min-width: 992px) {
  .footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-middle__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 15px;
}
@media (min-width: 992px) {
  .footer-middle__list {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 483px;

            column-gap: 80px;

    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows:         min-content;
  }
}
@media (min-width: 1200px) {
  .footer-middle__list {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
}
.footer-middle__item {
  display: grid;
  align-self: flex-start;
}
.footer-middle__name {
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}
.footer-middle__value {
  font-size: 12px;
  color: #1e1e1e;
}
.footer-middle__form {
  width: 100%;
  max-width: 340px;
}
.footer-middle__form form {
  position: relative;

  display: flex;
  align-items: center;
}
.footer-middle__form input {
  height: 100%;
  margin-right: 10px;
}
.footer-middle__contact {
  display: flex;
}
.footer-middle__contact > div {
  display: grid;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .footer-middle__contact > div {
    max-width: 120px;
  }
}
.footer-middle__contact .txt-sm {
  margin-bottom: 4px;
}
.footer-middle__contact button {
  position: relative;

  justify-content: flex-start;
  padding-bottom: 3px;

  font-weight: 400;
  font-size: 12px;
  color: var(--dark-blue-color);
}
.footer-middle__contact button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 65%;
  height: 1px;

  background-color: var(--dark-blue-color);
}
.footer-middle__contact a {
  margin-left: 16px;
}
.footer-middle__contact a svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer-bottom {
  padding: 24px 0;

  background-color: #fbfbfb;
}
.footer-bottom__cont {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer-bottom__cont {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-bottom__links {
  margin: 0;
  padding: 0;

  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}
@media (min-width: 992px) {
  .footer-bottom__links {
    margin-right: 60px;
  }
}
.footer-bottom__links a {
  color: #4e89e1;

  border-bottom: 1px solid #4e89e1;
}
.footer-bottom__logo {
  flex-shrink: 0;
  margin-bottom: 14px;
}
@media (min-width: 992px) {
  .footer-bottom__logo {
    margin-bottom: 0;
  }
}

.hero {
  background-image: url(../img/img-bg-hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -o-border-image: fill 0 linear-gradient(var(--background), var(--background));
     border-image: fill 0 linear-gradient(var(--background), var(--background));

  --background: rgba(0, 0, 0, 0.5);
}
.hero__cont {
  max-width: 630px;
  padding: 160px 0 180px;
}
@media (min-width: 992px) {
  .hero__cont {
    min-height: 634px;
    margin-left: 56px;
    padding-bottom: 150px;
  }
}
.hero__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
}
@media (min-width: 992px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
.hero .title {
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .hero .title {
    margin-bottom: 16px;
  }
}
.hero__descr {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 24px;
  padding: 0;

  font-size: 14px;
  color: var(--white-color);
}
@media (min-width: 992px) {
  .hero__descr {
    font-size: 30px;
  }
}

.benefits {
  padding: 50px 0;
}
@media (min-width: 992px) {
  .benefits {
    padding: 70px 0;
  }
}
.benefits__grid {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 48px;
}
@media (min-width: 768px) {
  .benefits__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.benefits__item {
  text-align: center;
}
.benefits__item h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: var(--black-color);

  background: linear-gradient(90deg, #1e1e1e 25%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.benefits__item span {
  font-size: 14px;
  text-align: center;
  color: #6d6d6d;
}

.services {
  padding: 48px 0;

  background: linear-gradient(180deg, #2c3f60 0%, #1b2c4d 100%);
}
.services .title {
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .services .title {
    margin-bottom: 54px;
  }
}
.services__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 70px;
}
@media (min-width: 768px) {
  .services__list {
            column-gap: 24px;

    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }
}

.service {
  position: relative;

  display: grid;

  row-gap: 16px;
}
.service:hover button {
  color: #0a0a0a;

  background-color: var(--white-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.service__img {
  position: relative;

  padding-bottom: 56%;
  overflow: hidden;

  border-radius: 5px;
}
.service__img img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}
.service__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__title {
  max-width: 200px;
  margin: 0;
  margin-right: 30px;
  padding: 0;

  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
}
.service__title a {
  font-size: inherit;
  color: inherit;
}
.service__title a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.service__btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;

  color: var(--white-color);

  border: 2px solid var(--white-color);
  border-radius: 100%;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.how-we-work {
  padding: 70px 0;
}
@media (min-width: 992px) {
  .how-we-work {
    padding: 100px 0;
  }
}
.how-we-work .title {
  margin-bottom: 48px;
}
.how-we-work__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-items: center;
  row-gap: 30px;
}
@media (min-width: 992px) {
  .how-we-work__list {
    display: flex;
    justify-content: space-between;
  }
}
.how-we-work__list li {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.how-we-work__item {
  flex-shrink: 0;
}
.how-we-work__arrow {
  width: 100%;
  max-width: 8px;
  height: 33px;

  background-image: url(../img/icon-down-arrow.svg);
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .how-we-work__arrow {
    flex-grow: 1;
    max-width: 121px;
    height: 8px;
    margin-top: 55px;

    background-image: url(../img/icon-large-arrow.svg);
    background-position: right;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
.how-we-work__icon {
  position: relative;

  flex-shrink: 0;
  margin-bottom: 26px;
}
.how-we-work__descr {
  max-width: 222px;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: rgba(30, 30, 30, 0.7);
}

.partners {
  padding: 48px 0 60px;

  background: linear-gradient(180deg, #2c3f60 0%, #1b2c4d 100%);
}
.partners .title {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .partners .title {
    margin-bottom: 62px;
  }
}
.partners__slider {
  position: relative;
}
@media (min-width: 992px) {
  .partners__slider .swiper {
    margin: 0 35px;
  }
}
.partners__slider .swiper-slide {
  position: relative;

  padding-top: 23%;
  overflow: hidden;

  border-radius: 10px;
}
@media (min-width: 768px) {
  .partners__slider .swiper-slide {
    padding-top: 12%;
  }
}
@media (min-width: 992px) {
  .partners__slider .swiper-slide {
    padding-top: 8%;
  }
}
.partners__slider .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 54px 0;
}
.about .title {
  margin-bottom: 27px;
}
.about__descr {
  display: grid;

  row-gap: 24px;
}
.about__descr p {
  margin: 0;
  padding: 0;

  line-height: 1.6;
  color: rgba(30, 30, 30, 0.7);
}
.about__descr span {
  color: var(--black-color);
}

.filter {
  padding: 16px 0 20px;
  /* Checked */
  /* Hover */
  /* Active */
  /* Disabled */
}
@media (min-width: 992px) {
  .filter {
    padding: 32px 0;
  }
}
.filter__cont {
  display: flex;
  flex-wrap: wrap;

          column-gap: 70px;

  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
  row-gap: 32px;
}
.filter__cont > * {
  flex-basis: 19%;
}
.filter__grid {
  display: grid;

          column-gap: 24px;

  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.filter__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}
.filter__list li {
  width: 100%;
  margin-right: 14px;
}
@media (min-width: 992px) {
  .filter__list li {
    flex-shrink: 0;
    width: auto;
  }
}
.filter__list li:last-child {
  margin-right: 0;
}
.filter__title {
  margin-bottom: 14px;

  font-size: 14px;
  color: var(--black-color);
  white-space: nowrap;
}
.filter__checkbox-btn {
  position: relative;

  display: inline-block;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter__checkbox-btn input[type=checkbox] {
  z-index: -1;

  display: block;
  width: 0;
  height: 0;

  opacity: 0;
}
.filter__checkbox-btn span {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 46px;
  padding: 10px 30px;

  font-weight: 600;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);

  background-color: #f4f6fb;
  border: none;
  border-radius: 300px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}
.filter__checkbox-btn--size span {
  min-width: 46px;
  padding: 10px 10px;

  border-radius: 100%;
}
.filter__checkbox-btn input[type=checkbox]:checked + span {
  color: var(--white-color);

  background-color: var(--dark-blue-color);
}
.filter__checkbox-btn input[type=radio] {
  z-index: -1;

  display: block;
  width: 0;
  height: 0;

  opacity: 0;
}
.filter__checkbox-btn input[type=radio]:checked + span {
  color: var(--white-color);

  background-color: var(--dark-blue-color);
}
.filter__checkbox-btn input[type=number] {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 107px;
  min-height: 46px;
  padding: 10px 30px;

  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: rgba(30, 30, 30, 0.5);

  background-color: #f4f6fb;
  border: none;
  border-radius: 300px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}
.filter__checkbox-btn input[type=number]::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}
.filter__checkbox-btn input[type=number]::-moz-placeholder {
  font-weight: 600;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}
.filter__checkbox-btn input[type=number]::-ms-input-placeholder {
  font-weight: 600;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}
.filter__checkbox-btn input[type=number]::placeholder {
  font-weight: 600;
  font-size: 12px;
  color: rgba(30, 30, 30, 0.5);
}

.products {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .products {
    padding: 32px 0 20px;
  }
}
.products__list {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  overflow-x: scroll;

  list-style: none;

  scrollbar-width: none;
}
@media (min-width: 992px) {
  .products__list {
    display: grid;
    margin-bottom: 48px;

            column-gap: 28px;

    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 54px;
  }
}
.products__list::-webkit-scrollbar {
  display: none;
  width: 0;
}
.products__list li {
  width: 100%;
  max-width: 300px;
  margin-right: 24px;
}
.products__list li:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .products__list li {
    max-width: 100%;
    margin-right: 0;
  }
}
.products .btn--primary {
  display: flex;
  margin: 0 auto;
  margin-bottom: 48px;
}

.product {
  position: relative;

  height: 0;
  padding-bottom: 140%;
  overflow: hidden;

  cursor: pointer;
}
@media (min-width: 992px) {
  .product {
    padding-bottom: 134%;
  }
}
.product:hover .swiper-slide {
  padding-bottom: 55%;
}
.product__cont {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
}
.product__slider {
  flex-shrink: 0;
  margin-bottom: 24px;
}
.product__slider .swiper-slide {
  position: relative;

  height: 0;
  padding-bottom: 55%;
  overflow: hidden;

  border-radius: 5px;

  transition: padding-bottom 0.4s ease-in-out;
}
@media (min-width: 992px) {
  .product__slider .swiper-slide {
    padding-bottom: 108%;
  }
}
.product__slider .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
}
.product__info {
  flex-shrink: 0;
}
.product__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.product__title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  color: var(--black-color);
}
.product__price {
  font-weight: 600;
  font-size: 20px;
  color: var(--black-color);
}
.product__address {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 14px;

  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.product__descr {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;

  background: linear-gradient(90deg, #1e1e1e 0%, #848484 100%);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}
.product__btn {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 16px;
  color: var(--dark-blue-color);
}
.product__btn .btn {
  width: 70px;
  height: 70px;
  margin-right: 22px;

  color: var(--white-color);
}
.product__btn .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.product__list {
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0 16px;

  list-style: none;

  gap: 8px;
}
.product__list li {
  margin: 0;
}
.product__item {
  display: flex;
  flex-shrink: 0;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 30px;
  padding: 6px 14px;

  font-weight: 600;
  font-size: 10px;
  color: var(--white-color);
  white-space: nowrap;

  background-color: rgba(17, 38, 90, 0.5);
  border-radius: 300px;
}
@media (min-width: 992px) {
  .product__item {
    flex-basis: 44%;
    width: 44%;
    padding: 8px 18px;

    font-size: 12px;
  }
}
.product__item--diskount {
  color: var(--black-color);

  background-color: var(--white-color);
}
