.benefits {
  padding: 50px 0;

  @include media-min($lg) {
    padding: 70px 0;
  }

  &__grid {
    @include list-reset;

    display: grid;
    row-gap: 48px;

    @include media-min($md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    text-align: center;

    & h2 {
      @include indent-reset;

      font-weight: 400;
      color: var(--black-color);
      font-size: 30px;
      line-height: 1;
      text-align: center;
      background: linear-gradient(90deg, #1e1e1e 25%, #848484 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 4px;
    }

    & span {
      font-size: 14px;
      text-align: center;
      color: #6d6d6d;
    }
  }
}
