.btn {
  @include btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &--primary {
    background-color: var(--dark-blue-color);
    padding: 24px 56px;
    border-radius: 300px;

    font-weight: 600;
    font-size: 14px;
    color: var(--white-color);
  }

  &--secondary {
    color: var(--white-color);

    background-color: var(--dark-blue-color);
    border-radius: 100%;
    width: 46px;
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.btn-icon {
  & svg {
    margin-right: 12px;
  }

  &--reverse {
    & svg {
      margin-right: 0;
      margin-left: 12px;
    }
  }
}
