.slider {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &:not(.swiper-initialized) {
    opacity: 0;
  }

  &__wrapper {
    box-sizing: border-box;
  }
}

.slider-control {

  user-select: none;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  background-color: var(--white-color);
  box-shadow: -4px 19px 31px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  pointer-events: auto;
  cursor: pointer;

  display: none;
  justify-content: center;
  align-items: center;

  &.swiper-button-lock {
    display: none;
  }

  @include media-min ($lg) {
    display: flex;
  }

  @include media-min ($xl) {
    transition: background-color 0.2s ease-in-out;
  }
}

.button-prev {
  left: -35px;
}

.button-next {
  right: -35px;
}
