.title {
  @include indent-reset;

  font-family: $title-font, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;

  font-size: 58px;
  color: var(--white-color);

  @include media-min($lg) {
    font-size: 70px;
  }

  &--blue {
    background: linear-gradient(90deg, #1b2c4d 0%, #7184aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--sm-blue {
    font-size: 49px;
    background: linear-gradient(90deg, #1b2c4d 0%, #7184aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
