html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--min-site-width);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


// @media screen and (-webkit-min-device-pixel-ratio: 0) {

//   select:focus,
//   textarea:focus,
//   input:focus {
//     font-size: 16px;
//   }
// }
